/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}


.wrapper {
  background-color: yellow;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

header, footer{
  background-color: red;
  grid-column: 1 / -1;
}

nav{
  background-color: orange;
  grid-column: 1;
  grid-row-start: 2;
  grid-row-end: 4;
  
}

section{
  background-color: darkorange;
}
article{
  background-color: darkred;
}
aside{
  background-color: darkgreen;
}

@media screen and (min-width:600px) {
  nav {
  }
  section {
  }
}
@media screen and (max-width:599px) {
  .wrapper {
  grid-template-columns: repeat(1, 1fr);
  
  }
}

